h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  border-collapse: collapse;
}

p {
  margin: 0;
}
a,
.btn,
.single-product .card-img-top {
  transition: 0.3s all;
}

.title-back {
  font-family: "Cookie", cursive;
  line-height: 0.8;
  font-size: 30px;
  color: #4ea9ae;
  margin-bottom: 14px;
}

.product-area .card {
  border-radius: 0;
  border: none;
}

.price-area {
  justify-content: center;
}

.product-area .card-title {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-area .card-title a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-area .card-title a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.product-area .card-title a:hover {
  color: #6cbe03;
  transition: 0.3s all;
}

.product-area .price {
  font-size: 16px;
}

.product-area .price.sale {
  font-family: "Libre Baskerville", serif;
  margin-right: 30px;
  font-weight: 700;
}

.product-area .price.base {
  text-decoration: line-through;
  font-size: 14px;
  color: grey;
}

.img-area {
  position: relative;
}

span.sticker {
  display: block;
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 10px;
  padding: 0 11px;
  line-height: 25px;
  border-radius: 0;
  z-index: 1;
  text-align: center;
}

span.new-product {
  left: 10px;
  background: #333;
}

span.sale-product {
  right: 10px;
  background: #6cbe03;
}

.btn-area {
  position: absolute;
  bottom: 0%;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  transition: 0.3s all;
}

.my-btn {
  display: block;
  color: #fff;
  background: #333;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
}

.my-btn:hover {
  background-color: #6cbe03;
  transition: 0.3s all;
}

.single-product:hover .my-btn {
  opacity: 1;
}

.single-product:hover .btn-area {
  bottom: 5%;
  transition: 0.3s all;
}

.star-content {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.star-content i {
  font-size: 10px;
  color: orange;
}

.single-product:hover .card-img-top {
  box-shadow: 0 0 20px #e4e4e4;
  transition: 0.3s all;
}

.section-title {
  display: flex;
  justify-content: center;
}

.section-title h2 {
  font-size: 40px;
  color: #1a1a1a;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

.section-title h2 span {
  color: #6cbe03;
}

:after,
:before {
  box-sizing: border-box;
}

.section-title h2::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  border: 2px solid #6cbe03;
  width: 50%;
}

.section-title h2::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  border: 2px solid #6cbe03;
  width: 50%;
}

.breadcrumb-area {
  position: relative;
}

.breadcrumb-img {
  width: 100%;
}

.my-breadcrumb {
  position: absolute;
  bottom: 50px;
}

.my-breadcrumb {
  background: transparent;
}

.my-breadcrumb a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 22px;
  font-weight: 600;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  color: #fff;
  margin: 0 16px;
  font-size: 18px;
  line-height: 24px;
}

.block-category {
  margin-bottom: 40px;
  padding: 0;
  float: left;
  width: 100%;
  background: #fff;
  box-shadow: none;
  border: 1px solid #ebebeb;
}

.block-category ul {
  list-style: none;
}

.block-category h5 {
  margin: 0;
  padding: 0 20px;
  background: #202020;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid #ebebeb;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.3s all;
}

.block-category h5:hover {
  cursor: pointer;
  background: #6cbe03;
}

ul.sub-menu {
  padding: 0px 20px;
}

ul.sub-menu li a {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 13px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  color: #444;
  transition: 0.3s all;
  text-decoration: none;
}

ul.sub-menu li:hover a {
  color: #6cbe03;
  transition: 0.3s all;
  cursor: pointer;
}

ul.category-menu {
  margin-bottom: 0;
}

.product-list-top {
  border: 1px solid #ebebeb;
  width: 100%;
  padding: 7px;
  margin-bottom: 40px;
  float: left;
  position: relative;
}

.total-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-box {
  float: left;
}

.sort-box {
  float: right;
  display: flex;
}

.sort-menu {
  border: 1px solid #ebebeb;
  /* padding: 6px 12px; */
}

.sort-menu:focus {
  outline: none;
}

.sort-box .btn {
  background-color: transparent;
  border: 1px solid #ebebeb;
}

.sort-box .btn:focus {
  box-shadow: none;
}

.sort-box .dropdown-menu {
  padding: 0px;
}

.sort-box .dropdown-item {
  background: white;
  transition: 0.3s all;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 20px;
}

.sort-box .dropdown-item:hover {
  cursor: pointer;
  color: #fff;
  background: #6cbe03;
  transition: 0.3s all;
}

.search-box input:focus {
  box-shadow: none;
  border: 1px solid #6cbe03;
}

.search-box input {
  border-radius: 0%;
}

.search-box .btn {
  background-color: #333;
  transition: 0.3s all;
  border: none;
  border-radius: 0%;
  border: 1px solid #333;
}

.search-box .btn:hover {
  background-color: #6cbe03;
  transition: 0.3s all;
  border: 1px solid #6cbe03;
}

.search-box .btn:focus {
  box-shadow: none;
}
