/* đây là footer */

.footer-area {
    background-color: #252525;
}


.footer-widget h2::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 20%;
    border: 1px solid #6cbe03;
}
.move-eff::after {
    content: '';
    position: absolute;
    top: 50px;
    left: -5px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 190px solid rgba(255, 255, 255, 0.25);
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.footer-widget h2 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 21px;
    margin-bottom: 30px !important;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
    margin: 0;
    font-weight: 700;
}

.footer-widget p {
    color: #fff;
}
.footer-widget a.garden-btn {
    margin-top: 15px;
}
.garden-btn {
    width: 160px;
    height: 50px;
    display: inline-block;
    color: #fff;
    border-radius: 30px;
    text-transform: capitalize;
    background-color: #6cbe03;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.move-eff span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.move-eff::after {
    transition-delay: 0.2s;
}

.garden-btn:hover  .move-eff::after{
    width: 100px;
    height: 100px;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
}

.footer-widget ul li {
    list-style: none;
    position: relative;
    padding-left: 26px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-widget ul li::before {
    position: absolute;
    left: 0;
    content: "\f054";
    font-family: fontawesome;
    color: #6cbe03;
}
.footer-widget ul li a {
    color: #fff;
    transition: 0.5s;
}
.footer-widget ul li a:hover {
    color: green;
    text-decoration: none;
}



/* đây là footer blog */
.footer-blog {
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
}

.blog-img {
    width: 39%;
    float: left;
}



.blog-info {
    width: 70%;
    float: left;
    padding-left: 10px;
}
.blog-info p {
    line-height: 1.4;
    margin-bottom: 0px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;

}
.blog-info span {
   
    font-size: 13px;
    color: #fff;

}
.blog-info:hover a
{
    text-decoration: none;
}


.subscribe-box {
    overflow: hidden;
    margin-top: 30px;
}


.subscribe-box input {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    float: left;
    padding: 0 20px;
    width: 70%;
    height: 38px;
}



.subscribe-box .garden-btn {
    border-radius: 0;
    border: 0;
    float: right;
    height: 38px;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 28%;
    cursor: pointer;
}

::placeholder {
   font-size: 13px;
  }


  /* copyright */
  .copyright-info {
    padding: 25px 0;
    overflow: hidden;
    background-color: #333333;
}


.copy-right p {
    color: #fff;
    /* margin: 0; */
    margin-top: 9px;
    text-transform: capitalize;
}

.copy-right p span, .copy-right p a {
    color: #6cbe03;
    font-weight: 900;
}

.social {
    text-align: right;
}
.social ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
}
.social ul li {
    list-style: none;
    display: inline-block;
}
.social ul li a i.fa-brands {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
    margin-right: 5px;
    color: #6cbe03;
}
.social ul li a.active i.fa-brands, .social ul li a i.fa-brands:hover {
    background-color: #fff;
    color: #6cbe03;
}

.section-news {
    padding: 80px 0px;
    display: block;
}


.move-eff::before {
    content: '';
    position: absolute;
    top: 50px;
    left: -5px;
    width: 14px;
    height: 11px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 190px solid rgba(255, 255, 255, 0.25);
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.move-eff:hover::before {
    opacity: 1;
    -webkit-transform: translate(0px, -190px);
    transform: translate(0px, -190px);
}
.move-eff:hover::after {
    -webkit-transform: translate(0px, -190px);
    transform: translate(0px, -190px);
}
@media screen and (max-width:540px) {
    .footer-widget h2 {
        margin-top: 30px;
    }

   
    .social ul{
        justify-content: center;
        margin-top: 10px;
    }
    
    .copy-right p {
        text-align: center;
    }
}

@media screen and (min-width:728px) and (max-width: 920px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .footer-widget h2 {
        margin-top: 15px;
    }
    .copy-right p {
        text-align: center;
        font-size: 13px;
    }
    
}