<div class="section-news">
    
 
     <div class="row">
         <div class="col-md-12 col-sm-12">
             <div class="section-title">
                 <h2>
                    Our 
                     <span>Gallery</span>
                 </h2>
                 <p>
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt laudantium unde, dolores est corporis, sunt deserunt sequi.
                 </p>
             </div>
         </div>
     </div>
 
     <div class="row">
         <div class="owl-carousel owl-theme produc-two">
             <div class="item item_blog">
                <div class="single-gallery">
                    <a href="./assets/images/gallery/01.jpg"  data-lightbox="image-1" data-title="My gallery" >
                        <img src="./assets/images/gallery/01.jpg" alt="">
                    </a>
                </div>
             </div>
             <div class="item item_blog">
                
                <div class="single-gallery">
                    <a href="./assets/images/gallery/02.jpg"  data-lightbox="image-1" data-title="My gallery" >
                        <img src="./assets/images/gallery/02.jpg" alt="">
                    </a>
                </div>
             </div>
             <div class="item item_blog">
                
                <div class="single-gallery">
                    <a href="./assets/images/gallery/03.jpg"  data-lightbox="image-1" data-title="My gallery" >
                        <img src="./assets/images/gallery/03.jpg" alt="">
                    </a>
                </div>
             </div>
             <div class="item item_blog">
                
                <div class="single-gallery">
                    <a href="./assets/images/gallery/04.jpg"  data-lightbox="image-1" data-title="My gallery" >
                        <img src="./assets/images/gallery/04.jpg" alt="">
                    </a>
                </div>
             </div>
             <div class="item item_blog">
                
                <div class="single-gallery">
                    <a href="./assets/images/gallery/05.jpg"  data-lightbox="image-1" data-title="My gallery" >
                        <img src="./assets/images/gallery/05.jpg" alt="">
                    </a>
                </div>
             </div>
             <div class="item item_blog">
                
                <div class="single-gallery">
                    <a href="./assets/images/gallery/06.jpg"  data-lightbox="image-1" data-title="My gallery" >
                        <img src="./assets/images/gallery/06.jpg" alt="">
                    </a>
                </div>
             </div>
             <div class="item item_blog">
                
                <div class="single-gallery">
                    <a href="./assets/images/gallery/07.jpg"  data-lightbox="image-1" data-title="My gallery" >
                        <img src="./assets/images/gallery/07.jpg" alt="">
                    </a>
                </div>
             </div>
             <div class="item item_blog">
                <div class="single-gallery">
                    <a href="./assets/images/gallery/08.jpg"  data-lightbox="image-1" data-title="My gallery" >
                        <img src="./assets/images/gallery/08.jpg" alt="">
                    </a>
                </div>
             </div>
            
         </div>
 
     </div>
    
 
 </div>
 