<div class="product-area">
  <div class="container">
    <div class="section-title py-5">
      <h2 class="text-center">
        Our
        <span>Product</span>
      </h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card text-left single-product">
          <div class="img-area">
            <a href="#">
              <img class="card-img-top" src="assets/images/product-1.jpg" alt="">
            </a>
            <span class="sticker new-product">New</span>
            <span class="sticker sale-product">Sale</span>
            <div class="btn-area">
              <a href="#" class="my-btn">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-heart"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-list"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title text-center">
              <a href="#">Suspendisse Urna Nibh</a>
            </h5>

            <div class="star-content text-center mb-3">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>

            <div class="text-center">
              <span class="price sale">$60.25</span>
              <span class="price base">$80.00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card text-left single-product">
          <div class="img-area">
            <a href="#">
              <img class="card-img-top" src="assets/images/product-2.jpg" alt="">
            </a>
            <span class="sticker new-product">New</span>
            <span class="sticker sale-product">Sale</span>
            <div class="btn-area">
              <a href="#" class="my-btn">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-heart"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-list"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title text-center">
              <a href="#">Suspendisse Urna Nibh</a>
            </h5>

            <div class="star-content text-center mb-3">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>

            <div class="text-center">
              <span class="price sale">$60.25</span>
              <span class="price base">$80.00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card text-left single-product">
          <div class="img-area">
            <a href="#">
              <img class="card-img-top" src="assets/images/product-3.jpg" alt="">
            </a>
            <span class="sticker new-product">New</span>
            <span class="sticker sale-product">Sale</span>
            <div class="btn-area">
              <a href="#" class="my-btn">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-heart"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-list"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title text-center">
              <a href="#">Suspendisse Urna Nibh</a>
            </h5>

            <div class="star-content text-center mb-3">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>

            <div class="text-center">
              <span class="price sale">$60.25</span>
              <span class="price base">$80.00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card text-left single-product">
          <div class="img-area">
            <a href="#">
              <img class="card-img-top" src="assets/images/product-4.jpg" alt="">
            </a>
            <span class="sticker new-product">New</span>
            <span class="sticker sale-product">Sale</span>
            <div class="btn-area">
              <a href="#" class="my-btn">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-heart"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-list"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title text-center">
              <a href="#">Suspendisse Urna Nibh</a>
            </h5>

            <div class="star-content text-center mb-3">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>

            <div class="text-center">
              <span class="price sale">$60.25</span>
              <span class="price base">$80.00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card text-left single-product">
          <div class="img-area">
            <a href="#">
              <img class="card-img-top" src="assets/images/product-5.jpg" alt="">
            </a>
            <span class="sticker new-product">New</span>
            <span class="sticker sale-product">Sale</span>
            <div class="btn-area">
              <a href="#" class="my-btn">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-heart"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-list"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title text-center">
              <a href="#">Suspendisse Urna Nibh</a>
            </h5>

            <div class="star-content text-center mb-3">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>

            <div class="text-center">
              <span class="price sale">$60.25</span>
              <span class="price base">$80.00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card text-left single-product">
          <div class="img-area">
            <a href="#">
              <img class="card-img-top" src="assets/images/product-6.jpg" alt="">
            </a>
            <span class="sticker new-product">New</span>
            <span class="sticker sale-product">Sale</span>
            <div class="btn-area">
              <a href="#" class="my-btn">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-heart"></i>
              </a>
              <a href="#" class="my-btn">
                <i class="fa-solid fa-list"></i>
              </a>
            </div>
          </div>

          <div class="card-body">
            <h5 class="card-title text-center">
              <a href="#">Suspendisse Urna Nibh</a>
            </h5>

            <div class="star-content text-center mb-3">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star"></i>
              <i class="fa-regular fa-star"></i>
            </div>

            <div class="text-center">
              <span class="price sale">$60.25</span>
              <span class="price base">$80.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
