
.page-title {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.page-title .title h2 {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    justify-content: center;
    margin: 0;
    font-family: 'Raleway', sans-serif;

}

.breadcrumb > li {
    font-size: 16px;
    text-transform: capitalize;
}

ul.breadcrumb li a {
    color: #fff;
    font-size: 16px;
}

.breadcrumb > .active {
    color: #6cbe03;
    margin-left: 7px;
}

.xx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home0:hover {
    text-decoration: none;
}

.section-padding {
    padding: 80px 0;
}


/* ở giữa */
.section-news {
    padding: 80px 0px;
    display: block;
}
.section-title {
    padding-bottom: 60px;
    text-align: center;
}
.section-title h2 {
    font-size: 45px;
    color: #1a1a1a;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.3;
    font-family: 'Raleway', sans-serif !important;;
}
.section-title h2::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    border: 2px solid #6cbe03;
    width: 50%;
}
.section-title h2::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    border: 2px solid #6cbe03;
    width: 50%;
}
   
.section-title h2 span {
 color: #6cbe03;
   
}
.section-title p {
    margin: 20px 120px !important;
   
}

.single-gallery a {
    position: relative;
    display: block;
}
.single-gallery a::before {
    border-radius: inherit;
    transform: scaleX(0);
}
 .single-gallery a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "";
    background-color: rgba(109, 191, 3, 0.60);
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease 0s;
    border: 1px solid #fff;
 }


 
 .single-gallery a::after {
    background-color: #1a1a1a;
    border-radius: 50%;
    bottom: 0;
    color: #6cbe03;
    content: "";
    font-family: 'fontawesome';
    font-size: 18px;
    height: 60px;
    left: 0;
    line-height: 60px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transform: scale(3);
    transition: all 0.5s ease 0s;
    width: 60px;
    opacity: 0;
    z-index: 2;
}
.single-gallery:hover a::before {
    opacity: 1;
    transform: scaleX(1);
    border: 0px;
}
.single-gallery:hover a::after {
    opacity: 1;
    transform: scale(1);
  
}


/* paralax */
.single-progress-dec {
    color: #fff;
}

.single-progress-dec i.fa {
    font-size: 36px;
    display: block;
    color: #6cbe03;
}
.xx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.single-progress-dec > span {
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    margin: 10px 0;
}
.single-progress-dec h3 {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

.single-progress-dec h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif !important;;

}


.single-progress-dec {
    color: #fff;
}

/* our team */
.single-member {
    position: relative;
    overflow: hidden;
}

.single-member img {
    width: 100%;
}

.member-title {
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #6cbe03;
    transition: all 1s ease 0s;
    opacity: 0;
}
.member-title h2 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}
.member-title h3 {
    font-size: 13px;
    color: #fff;
}

.social-overlay {
    position: absolute;
    top: 0;
    right: 0;
}
.social-overlay ul {
    list-style: none;
}

.social-overlay ul li a i.fa-brands {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #6cbe03;
    color: #fff;
    transition: 0.5s;
    transform: translate(36px);
}
.single-member:hover .social-overlay ul li a i.fa-brands{
    transform: translate(0px);
    
}
.single-member:hover .member-title{
    opacity: 1;


}
@media screen and (max-width:540px) {
  
    .section-title p {
        margin: 20px 20px !important;
    }
    .res {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .abc {
        position: relative;
        height: 700px !important;
    }
    .single-progress-dec {
        margin-top: 8px;

    }
}
@media screen and (max-width:768px) {
    .single-progress-dec, .single-member {
        margin-bottom: 30px;
    }

}
