<!-- header -->
<div class="header">
    <div class="container">
        <div class="row">
        <div class="header-left col-md-12 col-lg-9">
           <div class="row centers">
            <a href="#"><i class="fa-solid fa-envelope"></i> support@gardenbeauty.com</a>
            <a href="#"><i class="fa-solid fa-phone"></i> +256-4516-556</a>
            <a href="#"><i class="fa-solid fa-clock"></i> Mon – Fri : 9:00 -1700</a>
           </div>
        </div>
        <div class="header-right col-md-12 col-lg-3">
            <a routerLink="/login"><i class="fa-solid fa-right-to-bracket"></i> login</a>
            <a routerLink="/register"><i class="fa-regular fa-user"></i>register</a>
        </div></div>
    </div>
</div>
<!-- menu -->
<div class="menu">
    <div class="menu-con">
            <div class="container">
                <nav class="navbar navbar-expand-sm navbar-dark">
                    
                        <div class="logo col-md-12 col-lg-4">
                            <a href="menu.component.html"><img src="assets/images/logo.png" alt="logo-plan"></a>
                        </div>
                        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-bars"></i></button>
                        <div class="collapse navbar-collapse menu-right col-md-12 col-lg-8" id="collapsibleNavId">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item active">
                                    <a class="nav-link " routerLink="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " routerLink="/about">About US</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#">DETAILS</a>
                                </li>
                                <li class="nav-item">

                                    <a class="nav-link "  routerLink="blog">BLOGS</a>

                                </li>
                                <li class="nav-item dropdown cham">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SHOP</a>
                                    <div class="dropdown-menu drip" aria-labelledby="dropdownId">
                                        <a class="dropdown-item" href="#">shop 1</a>
                                        <a class="dropdown-item" href="#">shop 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown cham">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CONTACT US</a>
                                    <div class="dropdown-menu drip" aria-labelledby="dropdownId">
                                        <a class="dropdown-item" routerLink="/contact">contact</a>
                                        <a class="dropdown-item" href="#">contact 2</a>
                                    </div>
                                </li>
                            </ul>
                            
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2 hidden" type="text" placeholder="Search">
                                <i class="fa-solid fa-magnifying-glass search"></i>
                            </form>
                        </div>
                    
                </nav>
            </div>
    </div>
</div>